# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
*.xcworkspace
DerivedData/

# macOS
.DS_Store

# Temporary files
*.zip
MoltenVK.xcframework/
build-xcframework/
checksum.txt
*.backup
